name: CI - FastAPI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pre-commit-hook:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit hook
        shell: pwsh
        run: .\.githooks\pre-commit.ps1

  # prepare-commit-msg-hook y pre-push-hook han sido eliminados
  # ya que están diseñados para hooks locales de Git.

  flake8-linter:
    needs: pre-commit-hook # Ahora depende directamente de pre-commit-hook
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: |
          python -m pip install --upgrade pip
          pip install -r pokeapi-project/requirements.txt flake8
      - run: flake8 pokeapi-project/main.py pokeapi-project/tests/

  bandit-security:
    needs: flake8-linter # Las dependencias de aquí en adelante no necesitan cambio
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: |
          pip install -r pokeapi-project/requirements.txt bandit
      - run: bandit -r pokeapi-project/
        continue-on-error: true

  pip-audit:
    needs: bandit-security
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: |
          pip install -r pokeapi-project/requirements.txt pip-audit
      - run: pip-audit
        continue-on-error: true

  tests-and-coverage:
    needs: pip-audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: |
          pip install -r pokeapi-project/requirements.txt pytest pytest-cov
      - name: Run tests and check coverage
        run: |
          PYTHONPATH=pokeapi-project pytest --cov=pokeapi-project --cov-fail-under=80 pokeapi-project/tests/
      - name: Report coverage summary
        run: coverage report
        continue-on-error: true

  gitleaks-scan:
    needs: [flake8-linter, bandit-security, pip-audit, tests-and-coverage]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Scan for secrets with Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          config-path: .github/gitleaks.toml
        continue-on-error: true
